/* ===============================
   General Styling
================================ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, sans-serif;

    padding:20px;

    background:#f4f4f4;
}

h1{

    text-align:center;

    margin-bottom:30px;
}

div{

    width:90%;

    height:220px;

    margin:30px auto;

    color:white;

    font-size:30px;

    display:flex;

    justify-content:center;

    align-items:center;

    border:8px solid black;

    padding:20px;
}

/* ===============================
   Background Color
================================ */

.color-box{

    background-color:steelblue;
}

/* ===============================
   Background Image
================================ */

.image-box{

    background-image:url("background.jpg");

    background-repeat:no-repeat;

    background-position:center;

    background-size:300px 200px;

    color:black;
}

/* ===============================
   Cover
================================ */

.cover-box{

    background-image:url("background.jpg");

    background-size:cover;

    background-position:center;
}

/* ===============================
   Contain
================================ */

.contain-box{

    background-image:url("background.jpg");

    background-size:contain;

    background-repeat:no-repeat;

    background-position:center;

    background-color:#ddd;

    color:black;
}

/* ===============================
   Fixed
================================ */

.fixed-box{

    background-image:url("background.jpg");

    background-size:cover;

    background-attachment:fixed;

    background-position:center;
}

/* ===============================
   Background Origin
================================ */

.origin-box{

    background-image:url("background.jpg");

    background-origin:content-box;

    background-repeat:no-repeat;

    background-size:cover;
}

/* ===============================
   Background Clip
================================ */

.clip-box{

    background:orange;

    background-clip:content-box;

    color:black;
}

/* ===============================
   Linear Gradient
================================ */

.linear-box{

    background:linear-gradient(to right, red, orange, yellow);

}

/* ===============================
   Radial Gradient
================================ */

.radial-box{

    background:radial-gradient(circle, blue, cyan, white);

    color:black;
}

/* ===============================
   Background Shorthand
================================ */

.shorthand-box{

    background:
    #333
    url("background.jpg")
    no-repeat
    center/cover;
}