/* ==========================
   Root Font Size
========================== */

html{
    font-size:16px;
}

/* ==========================
   Body
========================== */

body{
    font-family:Arial, sans-serif;
    padding:20px;
}

/* ==========================
   Named Color
========================== */

h1{
    color:red;
}

/* ==========================
   HEX
========================== */

h2{
    color:#0066ff;
}

/* ==========================
   RGB
========================== */

h3{
    color:rgb(0,150,0);
}

/* ==========================
   RGBA
========================== */

h4{
    background:rgba(255,0,0,0.3);
    padding:10px;
}

/* ==========================
   HSL
========================== */

h5{
    color:hsl(260,100%,40%);
}

/* ==========================
   HSLA
========================== */

h6{
    background:hsla(200,100%,50%,0.4);
    padding:10px;
}

/* ==========================
   PX
========================== */

.box1{

    width:300px;

    background:skyblue;

    padding:20px;

    margin-bottom:20px;
}

/* ==========================
   Percentage
========================== */

.box2{

    width:50%;

    background:lightgreen;

    padding:20px;

    margin-bottom:20px;
}

/* ==========================
   EM
========================== */

.box3{

    font-size:2em;

    background:lightpink;

    padding:20px;

    margin-bottom:20px;
}

/* ==========================
   REM
========================== */

.box4{

    font-size:2rem;

    background:khaki;

    padding:20px;

    margin-bottom:20px;
}

/* ==========================
   VW
========================== */

.box5{

    width:60vw;

    background:orange;

    padding:20px;

    margin-bottom:20px;
}

/* ==========================
   VH
========================== */

.box6{

    height:30vh;

    background:lightcoral;

    padding:20px;
}